Logiciels/SCENIC/*.sif
Logiciels/Loupe_Browser/*.exe
Logiciels/InkScape/*.AppImage
Logiciels/RStudio/*.deb
Logiciels/SCENIC/*.feather
Logiciels/SCENIC/*.tbl
Results/
Logiciels/GitHub/GitHub_Token
Data/
