	body {
		color : #224c76;
		background-color : #FFFFFF;
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 11px;
	}
	P, TABLE, TD,LI , SPAN, DIV, FORM {
		color : #224c76;
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 12px;
	}

	form.decal {
		margin-left:50px;
		}

	input { 
		font-family:  "Courier New", Courier, monospace;
		font-size:12px;}

	.monospace { 
		   font-family:  "Courier New", Courier, monospace;
		   font-size:12px;}
	INPUT.btnsub {
			font-size:12px;
			font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
			color: #FFFFFF;
			background: #ff6600;
			border-color : #FE660E #DFDFDF #FE660E #FE660E;
		     }

	TEXTAREA { 
		font-family:  "Courier New", Courier, monospace;
		font-size:12px;}

	DIV.border1 {
			text-align:center;
			border:1px solid black;
			padding:2px;
			}

	.titre1 {color : #224c76; font-size : 17px; font-weight : bold;}
	.titre2 {color : #ff6600; font-size : 17px; font-weight : bold;}
	.titre3 {color : #000000; font-size : 15px; font-weight : bold;}


	.alert {font-size:11px;color:#FF0000;}

	a {color:#7f8caf;
		text-decoration:underline;
	}
	a:hover {color:#ff6600;text-decoration:underline;
	}
	a.entete {text-decoration:underline;
		color:#224c76;
	}
	

	div.dinfo a {  color:black; text-decoration:none;  padding:2px; }
	div.dinfo a:hover { background:black; text-decoration:underline; color:white; }

	@media print {
	div.dinfo {display:none;}
	}